<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}jeffDimarco{% endblock %}</title>
  <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/testImg.png">
  <link href="{{ STATIC_URL }}css/style_app.css" rel="stylesheet" media="screen">
  {% block head_extra %}
  {% endblock head_extra %}
</head>
<body>
  <div class="wrapper">
    <div class="texture clearfix">
      <header>
        <h1><a href="/">jeffDimarco</a></h1>
        <nav class="menu">
          <!--a href="/explore/">Explore</a-->
          <a href="/blog/">Blog</a>
          <a href="/about/">About</a>
          <a href="/support/">Support</a>
        </nav>
      </header>
    </div>
  </div>
  <footer>
    <p>© 2014 LOLZ Ltd.</p>
    <ul>
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Cookie Policy</a></li>
    </ul>
  </footer>
</body>
</html>
