{% comment %}
humanize:
For the "apnumber" filter, to display "two" instead of
"2". Requries 'django.contrib.humanize' in INSTALLED_APPS

static:
To access the public static file directory, without having to hard
code urls.
{% endcomment %}
{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Groove Generator</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
    </head>
    <body>
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>
   <script type='text/javascript' src="{% static 'tinyMusic.min.js' %}"></script>
   <script type='text/javascript' src="{% static 'web_audio.js' %}"></script>
    <script type="text/javascript">

    window.AudioContext = window.AudioContext || window.webkitAudioContext;
    // create the audio context
    var ac = typeof AudioContext !== 'undefined' ? new AudioContext : new webkitAudioContext;
    var sequence1; 
    var sequence2;
        $(document).ready(function() {
            $("#buttonAgain").click(function() {
                playNoteList(ac, sequence1, sequence2, serverNoteList, serverNoteListBass);
                return true;
            });
            $("#buttonStop").click(function() {
                sequence1.stop();
                sequence2.stop();
                return true;
            });
            var serverNoteList = [];
            var serverNoteListBass = [];
            $("#button").click(function() {
                    var input_string = $("#forminput").val();
                    var chord_input_val_0 = $("#chord_input_0").val()-1;
                    var chord_input_val_1 = $("#chord_input_1").val()-1;
                    var chord_input_val_2 = $("#chord_input_2").val()-1;
                    var chord_input_val_3 = $("#chord_input_3").val()-1;
                    //var input_chord_progression = "5"
                    //var input_chord_progression = String($("#chord_progression_input").val());
                    //var input_chord_progression = [0, 4, 3, 4];
                    $.ajax({
                        url : "/grooveGenerator/ajax1_json", 
                        type : "POST",
                        dataType: "json", 
                        data : {
                            client_response : input_string,
                            client_chord_0 : chord_input_val_0,
                            client_chord_1 : chord_input_val_1,
                            client_chord_2 : chord_input_val_2,
                            client_chord_3 : chord_input_val_3,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                             },
                            success : function(json) {
                                serverNoteList = [];
                                serverNoteListBass = [];
                                console.log("input_string" + input_string);
                                $('#result').append( 'Server Response: ' + json.server_response_lead + '<br>');
                                //var serverNoteList = [];
                                for (var i = 0; i < json.server_response_lead.length; i++ ) {
                                    serverNoteList.push(json.server_response_lead[i]);
                                    console.log(serverNoteList[i]);
                                }
                                for (var i = 0; i < json.server_response_bass.length; i++ ) {
                                    serverNoteListBass.push(json.server_response_bass[i]);
                                    console.log(serverNoteListBass[i]);
                                }
                                playNoteList(ac, sequence1, sequence2, serverNoteList, serverNoteListBass);
                            },
                            //success : function(json) {
                            //    $('#result').append( 'Server Response: ' + json.server_response_lead);
                            //},
                            error : function(xhr,errmsg,err) {
                                alert(xhr.status + ": " + xhr.responseText);
                            }
                    });
                    return false;
            });
        });
    </script>
    <form method="post" name="example form" >
        {% csrf_token %}
        <input name="example" id="forminput" type="text">
        <input name="chord0" id="chord_input_0" type="text">
        <input name="chord1" id="chord_input_1" type="text">
        <input name="chord2" id="chord_input_2" type="text">
        <input name="chord3" id="chord_input_3" type="text">
        <input id="button" type="button" value="send to server"></input>
        <input id="buttonAgain" type="button" value="Play again :D"></input>
        <input id="buttonStop" type="button" value="STOP THAT SHIT!"></input>
    </form>
    <div id="result">
    
   <script type='text/javascript' src="{% static 'jquery-1.11.1.min.js' %}"></script>
   <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
   <script language="javascript">
      /*
         Before our JavaScript can be imported, the following JavaScript
         variables need to be set from Django variables. While these
         values could be hard-coded into the JavaScript, this allows
         them to be centrally located.
      */
      //From color_liker.views.MIN_SEARCH_CHARS
      var MIN_SEARCH_CHARS = {{ MIN_SEARCH_CHARS }};
 
      //The url to submit the search form. From color_liker.urls
      var SUBMIT_URL = "{% url 'grooveGenerator' %}";
 
      /*
         the url to toggle the like. From color_liker.urls
 
         Since an id must be provided to the Django url, give it a
         bogus one, then immediately lop it off (along with the
         ending '/'). It is re-appended by the JavaScript.
      */
      var LIKE_URL_PRE_ID = "{% url 'toggle_color_like' color_id='999999999' %}"
      LIKE_URL_PRE_ID = LIKE_URL_PRE_ID.substring(0, LIKE_URL_PRE_ID.length - "999999999/".length);
   </script>

   <script>
       var playImage = "{% static 'img/play.png' %}";
       var stopImage = "{% static 'img/stop.png' %}";
   </script>
   <script type='text/javascript' src="{% static 'color_ajax_search.js' %}"></script>
</body></html>
