{% comment %}
humanize:
For the "apnumber" filter, to display "two" instead of
"2". Requries 'django.contrib.humanize' in INSTALLED_APPS

static:
To access the public static file directory, without having to hard
code urls.
{% endcomment %}
{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Color Likenatorizer</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
    </head>
    <body>
        <p>
        Wave Type: 
        <select id="waveType">
            <option>sine</option>
            <option>square</option>
            <option>sawtooth</option>
            <option>triangle</option>
        </select> 
        Note being played: <input type="text" id="note" size="3">
        </p>
        <svg 
        width="100%" height="100%" viewBox="-5 -5 1130 450">

        <defs>
        <rect id="key-white" x="0" y="0" width="20" height="120" rx="3" ry="3" stroke="black" />
        <rect id="key-black" x="0" y="0" width="14" height="80" rx="3" ry="3" stroke="black" />
        </defs>

        <g id="keyboard"s>
        <g id="ivory" fill="white">
        <use id="C0" xlink:href="#key-white" x="0" />
        <use id="D0" xlink:href="#key-white" x="20"/>
        <use id="E0" xlink:href="#key-white" x="40"/>
        <use id="F0" xlink:href="#key-white" x="60"/>
        <use id="G0" xlink:href="#key-white" x="80"/>
        <use id="A0" xlink:href="#key-white" x="100"/>
        <use id="B0" xlink:href="#key-white" x="120"/>

        <use id="C1" xlink:href="#key-white" x="140" />
        <use id="D1" xlink:href="#key-white" x="160"/>
        <use id="E1" xlink:href="#key-white" x="180"/>
        <use id="F1" xlink:href="#key-white" x="200"/>
        <use id="G1" xlink:href="#key-white" x="220"/>
        <use id="A1" xlink:href="#key-white" x="240"/>
        <use id="B1" xlink:href="#key-white" x="260"/>

        <use id="C2" xlink:href="#key-white" x="280" />
        <use id="D2" xlink:href="#key-white" x="300"/>
        <use id="E2" xlink:href="#key-white" x="320"/>
        <use id="F2" xlink:href="#key-white" x="340"/>
        <use id="G2" xlink:href="#key-white" x="360"/>
        <use id="A2" xlink:href="#key-white" x="380"/>
        <use id="B2" xlink:href="#key-white" x="400"/>

        <use id="C3" xlink:href="#key-white" x="420" />
        <use id="D3" xlink:href="#key-white" x="440"/>
        <use id="E3" xlink:href="#key-white" x="460"/>
        <use id="F3" xlink:href="#key-white" x="480"/>
        <use id="G3" xlink:href="#key-white" x="500"/>
        <use id="A3" xlink:href="#key-white" x="520"/>
        <use id="B3" xlink:href="#key-white" x="540"/>

        <use id="C4" xlink:href="#key-white" x="560" />
        <use id="D4" xlink:href="#key-white" x="580"/>
        <use id="E4" xlink:href="#key-white" x="600"/>
        <use id="F4" xlink:href="#key-white" x="620"/>
        <use id="G4" xlink:href="#key-white" x="640"/>
        <use id="A4" xlink:href="#key-white" x="660"/>
        <use id="B4" xlink:href="#key-white" x="680"/>

        <use id="C5" xlink:href="#key-white" x="700" />
        <use id="D5" xlink:href="#key-white" x="720"/>
        <use id="E5" xlink:href="#key-white" x="740"/>
        <use id="F5" xlink:href="#key-white" x="760"/>
        <use id="G5" xlink:href="#key-white" x="780"/>
        <use id="A5" xlink:href="#key-white" x="800"/>
        <use id="B5" xlink:href="#key-white" x="820"/>

        <use id="C6" xlink:href="#key-white" x="840" />
        <use id="D6" xlink:href="#key-white" x="860"/>
        <use id="E6" xlink:href="#key-white" x="880"/>
        <use id="F6" xlink:href="#key-white" x="900"/>
        <use id="G6" xlink:href="#key-white" x="920"/>
        <use id="A6" xlink:href="#key-white" x="940"/>
        <use id="B6" xlink:href="#key-white" x="960"/>

        <use id="C7" xlink:href="#key-white" x="980" />
        <use id="D7" xlink:href="#key-white" x="1000"/>
        <use id="E7" xlink:href="#key-white" x="1020"/>
        <use id="F7" xlink:href="#key-white" x="1040"/>
        <use id="G7" xlink:href="#key-white" x="1060"/>
        <use id="A7" xlink:href="#key-white" x="1080"/>
        <use id="B7" xlink:href="#key-white" x="1100"/>
        </g>

        <g id="ebony" fill="black">
        <use id="Db0" xlink:href="#key-black" x="13"/>
        <use id="Eb0" xlink:href="#key-black" x="33"/>
        <use id="Gb0" xlink:href="#key-black" x="73"/>
        <use id="Ab0" xlink:href="#key-black" x="93"/>
        <use id="Bb0" xlink:href="#key-black" x="113"/>

        <use id="Db1" xlink:href="#key-black" x="153"/>
        <use id="Eb1" xlink:href="#key-black" x="173"/>
        <use id="Gb1" xlink:href="#key-black" x="213"/>
        <use id="Ab1" xlink:href="#key-black" x="233"/>
        <use id="Bb1" xlink:href="#key-black" x="253"/>

        <use id="Db2" xlink:href="#key-black" x="293"/>
        <use id="Eb2" xlink:href="#key-black" x="313"/>
        <use id="Gb2" xlink:href="#key-black" x="353"/>
        <use id="Ab2" xlink:href="#key-black" x="373"/>
        <use id="Bb2" xlink:href="#key-black" x="393"/>

        <use id="Db3" xlink:href="#key-black" x="433"/>
        <use id="Eb3" xlink:href="#key-black" x="453"/>
        <use id="Gb3" xlink:href="#key-black" x="493"/>
        <use id="Ab3" xlink:href="#key-black" x="513"/>
        <use id="Bb3" xlink:href="#key-black" x="533"/>

        <use id="Db4" xlink:href="#key-black" x="573"/>
        <use id="Eb4" xlink:href="#key-black" x="593"/>
        <use id="Gb4" xlink:href="#key-black" x="633"/>
        <use id="Ab4" xlink:href="#key-black" x="653"/>
        <use id="Bb4" xlink:href="#key-black" x="673"/>

        <use id="Db5" xlink:href="#key-black" x="713"/>
        <use id="Eb5" xlink:href="#key-black" x="733"/>
        <use id="Gb5" xlink:href="#key-black" x="773"/>
        <use id="Ab5" xlink:href="#key-black" x="793"/>
        <use id="Bb5" xlink:href="#key-black" x="813"/>

        <use id="Db6" xlink:href="#key-black" x="853"/>
        <use id="Eb6" xlink:href="#key-black" x="873"/>
        <use id="Gb6" xlink:href="#key-black" x="913"/>
        <use id="Ab6" xlink:href="#key-black" x="933"/>
        <use id="Bb6" xlink:href="#key-black" x="953"/>

        <use id="Db7" xlink:href="#key-black" x="993"/>
        <use id="Eb7" xlink:href="#key-black" x="1013"/>
        <use id="Gb7" xlink:href="#key-black" x="1053"/>
        <use id="Ab7" xlink:href="#key-black" x="1073"/>
        <use id="Bb7" xlink:href="#key-black" x="1093"/>
        </g>
        </g>
        </svg>
  <button id="playGroove">Play Groove!</button>
  <button id="stopGroove">Stop that shit.</button>
   <div class="search_section">
      <form id="search_colors_form_id" method="get" action="{% url 'grooveGenerator' %}">
         <input type="text" id="search_text" name="search_text"/>
         {# csrf_token is not needed when the method is "get" #}
         <input id="id_pic_submit_button" type="submit" value="Search for color"/>
         <p>(Requires {{ MIN_SEARCH_CHARS|apnumber }} or more characters)</p>
      </form>
 
      {% if  search_text|length >= MIN_SEARCH_CHARS %}
         <p><b>Searching for &quot;<code>{{ search_text }}</code>&quot;:</b>
         {% if  color_search_results.count > 0 %}
            </p>
            <ul>
               {% for  color in color_search_results %} {# No colon after "color_search_results" #}
                  <li>{{ color.name }}</li>
               {% endfor %}
            </ul>
         {% else %}
            <i>No results</i></p>
         {% endif %}
      {% endif %}
   </div>
   <div class="content_section">
      <h1>Color Likenatorizer</h1>
 
      {% if  colors.count == 0 %}
         <p><i>There are no colors in the database.</i></p>
      {% else %}
         <table>
            <tr>
               <th colspan="2">Color</th>
               <th>Favorite?</th>
            </tr>
               <!--
                  The yes/no like button is contained in the third column.
                  The stylesheet eliminates the button's border and expands
                  its width and height to 100%, so it fills its entire
                  container: the table cell. It therefore appears to *be*
                  the table cell.
 
                  The table cell is in this main template, the button in
                  it, is in the "include"d sub-template. The button
                  sub-template is used by the below for-loop, and also by
                  the toggle_color_like view, which is called by Ajax.
 
                  Ajax calls Django, which renders the sub-template and
                  feeds it back to Ajax, which then replaces the current
                  button/sub-template with the new one.
 
                  (The data-color_id is how the id is passed to JQuery. See
                  http://api.jquery.com/data/ )
               -->
            {% for  color in colors %} {# No colon after "colors" #}
               <tr>
                  <td style="background-color: {{ color.name }};" class="td__color_color">{{ color.name }}</td>
                  <td class="td__color_name">{{ color.name }}</td>
                  <td id="toggle_color_like_cell_{{ color.id }}" class="td__toggle_color_like_button" data-color_id="{{ color.id }}">
                     {% include "grooveGenerator/color_like_link__html_snippet.txt" %}
                  </td>
               </tr>
            {% endfor %}
         </table>
      {% endif %}
   </div>
   <div class="generate_melody">
      <form id="key_text_form_id" method="get" action="{% url 'grooveGenerator' %}">
         <input type="text" id="key_text" name="key_text"/>
         {# csrf_token is not needed when the method is "get" #}
         <input id="enter_key_button" type="submit" value="Enter key"/>
         <p>(Test string jajaja!)</p>
      </form>
   </div>

   <script type='text/javascript' src="{% static 'jquery-1.11.1.min.js' %}"></script>
   <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
   <script language="javascript">
      /*
         Before our JavaScript can be imported, the following JavaScript
         variables need to be set from Django variables. While these
         values could be hard-coded into the JavaScript, this allows
         them to be centrally located.
      */
      //From color_liker.views.MIN_SEARCH_CHARS
      var MIN_SEARCH_CHARS = {{ MIN_SEARCH_CHARS }};
 
      //The url to submit the search form. From color_liker.urls
      var SUBMIT_URL = "{% url 'grooveGenerator' %}";
 
      /*
         the url to toggle the like. From color_liker.urls
 
         Since an id must be provided to the Django url, give it a
         bogus one, then immediately lop it off (along with the
         ending '/'). It is re-appended by the JavaScript.
      */
      var LIKE_URL_PRE_ID = "{% url 'toggle_color_like' color_id='999999999' %}"
      LIKE_URL_PRE_ID = LIKE_URL_PRE_ID.substring(0, LIKE_URL_PRE_ID.length - "999999999/".length);
   </script>

   <script>
       var playImage = "{% static 'img/play.png' %}";
       var stopImage = "{% static 'img/stop.png' %}";
   </script>
   <input type="image" src= "{% static 'img/play.png' %}" value="play" class ="off" id="audio_toggle_button" />
   <script type='text/javascript' src="{% static 'tinyMusic.min.js' %}"></script>
   <script type='text/javascript' src="{% static 'web_audio.js' %}"></script>
   <script type='text/javascript' src="{% static 'color_ajax_search.js' %}"></script>
   <script type='text/javascript' src="{% static 'color_ajax_like.js' %}"></script>
   <script type='text/javascript' src="{% static 'color_ajax_main.js' %}"></script>
</body></html>
